body{
    margin: 0;
    padding: 0;
    font-size:16px;
    color:darkviolet;
    background-image: linear-gradient(#FED8B1, yellow);
    font-family: 'Montserrat', sans-serif; 
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Outfit', sans-serif; */
}
.dark-theme{
    background-image: linear-gradient(black, darkviolet);
    color: orangered;
}
.container{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: 1080px;
    margin-top: 50px;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(5, auto);
    grid-auto-rows:minmax(120px, auto);
    gap: 15px;
}
.book-icon{
    grid-column: 1/4;
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
    align-items:start;
}
.book-icon .material-symbols-outlined {
    font-size: 120px;
    /* color: orangered; */
}
.book-icon span{
    text-decoration: none;
    display: inline-block;
    display: flex;
    flex-direction: column;
}
#right-panel{
    text-align: center;
    cursor: pointer ;
    height: 25px;
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 28px;
    margin-top: 5px;
}
#right-panel >*{
    /* color: orangered; */
    
}
.on{
    display:inline-block !important;
}
.off{
    display: none !important;
}
.book-icon span #dictionary{
    margin-left: 10px;
    margin-top: -5px;
    font-size: 60px;
    /* color: orangered; */
}
.book-icon span #author{
    /* color:orangered; */
    margin-top: 5px;
    align-self: center;
    width:40%;
    font-family:fantasy;
    /* font-family: 'Cedarville Cursive', cursive; */
    font-size: 14px;
    border: 2px rgba(0,0,0,0) solid;
    padding: 5px;
    border-radius: 28px;
    text-decoration: underline;
}
#fonts{
    color:darkviolet;
    padding:0;
    margin-top: 5px;
    font-size: 14px;
    grid-column: 4/5;
    width: 80px;
    height: 30px;
    display: flex;
    justify-self: end;
    align-self:start;
    background: rgba(0,0,0,0);
    /* color:orangered; */
    border-color: rgba(0,0,0,0);
    text-align:center;
    outline: none;
}
.right-panel .material-symbols-outlined{
    font-size: 30px;
    margin-top: 5px;
    /* color: orangered; */
}
form{
    grid-column: 1/-1;
    grid-row: 2;
}
form #search{
    height: 2.5em;
    width: 100%;
    padding: 0 10px;
    outline-color: orangered;
    border: 2px orangered solid;
    border-radius: 28px;
    background: rgba(0,0,0,0.2);
    color: white;
}
.word{
    grid-row: 3;
    grid-column: 1 / 5;
    font-size: 5em;
    letter-spacing: 0.2em;
}
.word .transcript{
    /* color:orangered; */
    font-size: 0.5em;
}
.audio .material-symbols-outlined{
    font-size: 80px;
    color: blueviolet;
}
.noun{
    grid-row:4;
    grid-column: 1/-1;
    font-weight: bold;
}
.border{
    border-bottom: 3px solid orangered;
}
.noun-meaning{
    grid-row: 5;
    grid-column: 1/-1;
    font-weight: bolder;
    font-size: 3em;
}
.noun-meaning >*{
    font-size: 14px;
    font-weight: normal;
}
.sinonym{
    grid-row:6
}
.verb{
    grid-row: 7;
    grid-column: 1/-1;
    font-weight: bolder;
}
.verb-meaning >*{
    font-size: 14px;
    font-weight: normal;
}
.source{
    grid-row: 8;
    grid-column: 1/-1;
}
/* pseudoobject bullet color of ul elements */
ul{
    list-style: none;
}
ul li::before {
    content: "\2022";
    color: blueviolet;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
/* pseudoclasses */
.book-icon .material-symbols-outlined:hover{
    cursor: pointer;
}
.book-icon span #author:hover{
    cursor:pointer;
}
#right-panel .material-symbols-outlined:hover{
    cursor: pointer;
}
.audio .material-symbols-outlined:hover{
    cursor:pointer;
}
.source a{
    cursor: pointer;
}
.source span:hover{
    cursor: pointer;
    font-size: 2.5em;
}
